__pycache__
*.mdb
tmp
logs/
wandb/
rocket/stark_tech/MCP-Reborn
rocket/stark_tech/tmp
*recordings
*.log
build 
rocket.egg-info
*.zip
*.err
*.out
records
outputs
*.pkl
*.tar.gz
database
pretrained
*.webm
*.png
.vscode
*.mp4
# *.json
multirun
debug_scripts/
global_utils/
*.lprof
MCP-Reborn
*.html
*.pem
*.ckpt
*.pt

realtime/*.jpg
*.pyc
.vscode/
.DS_Store
__pycache__/
*-checkpoint.ipynb
.venv
*.egg*
build/*
_C.*
rocket/realtime_sam/notebooks/*.jpg
rocket/realtime_sam/checkpoints/*.pt
